


     <div class="container">
  <div class="row">


  <div  class="loader center-block text-muted" ng-if="loading">
      <p class="text-center"><span class="fa fa-4x fa-circle-o-notch fa-spin"></span></p>
      <p class="text-center">Loading from Google SpreadSheet backend...</p>
  </div>
  <div ng-repeat="project in projects | orderBy: 'unixDate': true" class="timeline-elt">
      <div class="icon" ng-style="getStyleForCategory(project.category)"><i class="fa fa-lg" ng-class="getIconForCategory(project.category)"></i></div>
      <div class="date">{{project.momentDate.format('MM/YYYY')}}<br/>
                        <span class="text-muted small">{{project.momentDate.fromNow()}}</span></div>
      <div class="content">

      <h1><a href="{{project.link}}">{{project.name}}</a></h1>
      <p class="adaptive-text">{{project.description}}</p>
      <p>
          <span ng-repeat="tag in project.tags">
                <span class="label label-default" style="margin-right: 0.2em">
               {{tag}}
               </span>
          </span>
      </p>
      </div>
  </div>

</div>

     </div>