


     <div class="container">
  <div class="row">


  <div  class="loader center-block text-muted" ng-if="loading">
      <p class="text-center"><span class="fa fa-4x fa-circle-o-notch fa-spin"></span></p>
      <p class="text-center">Loading from Google SpreadSheet backend...</p>
  </div>
  <ul class="list">
  <li ng-repeat="project in projects | orderBy: 'unixDate': true" class="list-item">
      <!--<div class="icon" ng-style="getStyleForCategory(project.category)">-->

     
      <div class="block">

        <img class="thumb" src="images/thumb/{{project.name}}.jpg" style="width: 100%">

        <div class="content">
        <h1><a href="{{project.link}}">{{project.name}}</a></h1>

        <div class="icon">
            <i class="fa fa-lg" ng-class="getIconForCategory(project.category)"></i>


            <div class="date">{{project.momentDate.format('MM/YYYY')}}<br/>
                          <span class="text-muted small">{{project.momentDate.fromNow()}}</span>
        </div>

        </div>
        
        

          <p class="">{{project.description}}</p>
          <div class="tags">
              <span ng-repeat="tag in project.tags">
                    <span class="label label-default" style="margin-right: 0.2em">
                   {{tag}}
                   </span>
              </span>
          </div>
      </div>
      </div>
  </li>
  </ul>

</div>

     </div>